<div>
  <div class="header">
    <button mat-raised-button color="primary" [routerLink]="['/quizzes']">
      <mat-icon>arrow_back</mat-icon>
      Return to Dashboard
    </button>
  </div>

<div *ngIf="answers.length > 0">
  <h2>Answers for Result ID: {{ resultId }}</h2>
  <div *ngFor="let answer of answers" class="answer-card">
    <div class="card">
      <p><strong>ID:</strong> {{ answer.id }}</p>
      <p><strong>Response:</strong> {{ answer.response }}</p>
      <p><strong>Result ID:</strong> {{ answer.resultId }}</p>
      <p><strong>Question:</strong></p>
      <div class="question-details">
        <p><strong>ID:</strong> {{ answer.question.id }}</p>
        <p><strong>Quiz ID:</strong> {{ answer.question.quizId }}</p>
        <p><strong>Question Text:</strong> {{ answer.question.questionText }}</p>
        <p><strong>Correct Answer:</strong> {{ answer.question.correctAnswer }}</p>
        <p><strong>Option 1:</strong> {{ answer.question.option1 }}</p>
        <p><strong>Option 2:</strong> {{ answer.question.option2 }}</p>
        <p><strong>Option 3:</strong> {{ answer.question.option3 }}</p>
        <p><strong>Option 4:</strong> {{ answer.question.option4 }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Display message when no answers -->
<div *ngIf="answers.length === 0">
  <p>No answers found for this result.</p>
</div>

<button mat-button color="primary" [routerLink]="['/quiz', 1,1, 'result']">Show another Results</button>
</div>
